<!DOCTYPE html>
<html lang="en">
  <head>
    <title>#{title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Bienvenido a La Tombola!!!</h1>     
    </div>

    <div class="container">    
      <div class="row">
        <div class="col-lg-6 text-left">
          <div id="data-player"></div>
        </div>

        <div class="col-lg-6 text-right">
          <button class="btn btn-primary" onclick="openModal()">Crear Ruleta</button>
        </div>
      </div>
      <hr>
    </div> 
      
    <div class="container">
      <div class="row" id="roulettes"></div>
    </div>

    <!-- Modal creacion ruleta -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nueva ruleta</h4>
            <button type="button" class="close" onclick="closeModal()">×</button>
          </div>
          
          <div class="modal-body">
            <form id="form">
              <div class="form-group">
                <label for="email">Nombre:</label>
                <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="form-group">
                <label for="pwd">Costo:</label>
                <input type="number" class="form-control" id="cost" name="cost" min="1" value="1">
              </div>
              <div class="form-group">
                <!--<div class="text-right">
                  <button class="btn btn-primary btn-sm" onclick="addPrize()">Agregar premio</button>                
                </div>-->
                <label for="pwd">Premios:</label>
                each val in [1, 2, 3, 4, 5]
                  <div class="form-row pt-2">
                    <div class="col-6">
                      <input id="prize-#{val}" class="form-control" placeholder="Premio">
                    </div>
                    <div class="col-6">
                      <input type="number" id="probability-#{val}" class="form-control" placeholder="Probabilidad">
                    </div>                  
                  </div>
                                              
              </div>
              
              <div class="text-right">
                <button type="submit" class="btn btn-primary">Aceptar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    script.
      document.addEventListener("DOMContentLoaded", function (event) {
        initPlayer();
        drawRoulettes();
        //- 
      });

      function initPlayer() {
        let token = localStorage.getItem("token");

        if(!token) {
          token = new Date().getTime()
          localStorage.setItem("token", token);
        }

        $.post('/api/player', {token: token, action: 'refresh'}, function(data) {
          let dataPlayer = data.data
          let render = `
            <div><strong>Creditos:&nbsp;</strong><span id="credit-player">${dataPlayer.credit}</span></div>
            <div><strong>Ultimo refresh:&nbsp;</strong><span>${dataPlayer.last_refresh}</span></div>
            <div><strong>Premios:&nbsp;</strong><span id="prizes-player"></span></div>
          `
          localStorage.setItem("credit", data.data.credit);

          $('#data-player').html(render)

          countPrizes(dataPlayer.prizes)
        })
      }

      function countPrizes(array) {
        const counts = array.reduce((counts, element) => {
          counts[element] = counts[element] || 0;
          counts[element]++;
          return counts;
        }, {});

        $('#prizes-player').html(JSON.stringify(counts))        
      }

      function drawRoulettes() {
        $.get("/api/roulette", function(data) {
          let roulettes = data.data

          for(let roulette of roulettes) {
            createRoulette(roulette)
          }
        });
      }

      function createRoulette(roulette) {
        let prize_res = 'prize-res'+roulette.id
        let data = `
          <div class="col-lg-4 mt-5 text-center">
            <h3 class="text-uppercase">${roulette.name}</h3>
            <h5>Costo: <strong id="">${roulette.cost}&nbsp;credito(s)</strong></h5>
            <h5>Premio: <span id="prize-res-${roulette.id}"></span></h5>
            <div class="text-center pt-4">
              <button class="btn btn-primary btn-block" onclick="spin('${roulette.id}', '${roulette.cost}')">Girar</button>                
            </div>
          </div>        
        `
        $('#roulettes').append(data)
      }

      function spin(rouletteId, rouletteCost) {
        let credit = localStorage.getItem("credit");

        if(rouletteCost > (credit*1)) {
          toastr.error('No tienes suficientes creditos')

          return false
        }else{
          $.get(`/api/roulette/spin/${rouletteId}`, function(data) {
            toastr.success(`Te has ganado una ${data.result}`)
            $(`#prize-res-${rouletteId}`).html(data.result)
  
            let token = localStorage.getItem("token");
            $.post('/api/player', {token: token, prize: data.result, action: 'play', cost: rouletteCost}, function(dataPlayer) {
              $('#credit-player').html(dataPlayer.data.credit)
              localStorage.setItem("credit", dataPlayer.data.credit);

              countPrizes(dataPlayer.data.prizes)
            })
  
            return true
          })          
        }
      }

      function openModal() {
        $("#myModal").modal()
      }

      function closeModal() {
        $("#myModal").modal('hide')
        document.getElementById("form").reset();
      }   

      function handleSubmit(event) {
        event.preventDefault();

        if(!$('#name').val() || !$('#cost').val() || !$('#prize-1').val() || !$('#probability-1').val()) {
          toastr.error('Debes llenar todos los campos y al menos un premio')
          return false
        }

        let total = 0
        let prize_table = []

        for(let i = 1; i < 6; i++) {
          let prize = $(`#prize-${i}`).val()
          let probability = $(`#probability-${i}`).val()
          if(prize && probability) {
            prize_table.push({prize, probability})
            total += ($(`#probability-${i}`).val())*1
          }
        }

        if(total!=100) {
          toastr.error('La suma de las probabilidades debe dar 100')
          return false          
        }
    
        const data = new FormData(event.target);
    
        const value = Object.fromEntries(data.entries());

        value.prize_table = prize_table

        $.post('/api/roulette', value, function(roulette) {
          createRoulette(roulette.data)
          toastr.success('La ruleta fue creada con exito')
          closeModal()

          return true
        })
      }
    
      const form = document.querySelector('form');
      form.addEventListener('submit', handleSubmit);

  </body>
</html>